:root{
  /* Color Palette 3 */
  --dark-green: rgb(49, 115, 18);
  --light-green: rgb(110, 187, 45);
  --cream: rgb(222, 217, 201);
  --dark-cream: rgb(226, 204, 170);
  --light-blue: rgb(36, 186, 236);
  --dark-blue: rgb(22, 110, 243);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}


body {
  font-family: 'Montserrat', sans-serif;
}

.summary-outter {
  display: flex;
  margin-bottom: 10vh;
}

.btn-container {
  margin-top: 1em;
}

.summary-icon {
  text-align: center;
  font-size: 2em;
}

.profile{
  background-color: var(--light-blue);	
  padding: 0px 0px;
}
.profile .container-fluid{
  padding: 0px !important;
  margin: 0px !important;  
  color:var(--light-blue);
}

.sidebar .list{
  padding: 5px 5px 0px 5px;
  list-style: none;
  margin: 0 0px;
  overflow: hidden; 
  width: auto;
 }
 sidebar .user-info {
  position: relative;
  border-bottom: 1px solid var(--light-blue);
  text-align: center;
  padding-top:10px;
  padding-bottom: 15px;
  margin-bottom: 20px;
 }
 .sidebar .user-info a {
  display: inline-block !important;
 }
 .sidebar .user-info .image img {
  width: 180px;
  vertical-align: bottom !important;
  border: 3px solid var(--light-blue);
  box-shadow: 0px 5px 25px 0px rgba(0,0,0,0.2);
 }

 .sidebar .user-info .detail{
  margin-bottom: 0px;
}
.sidebar .user-info .detail h4 {
 font-size: 20px;
 color:rgb(49, 115, 18) !important;
 font-weight: 700;
 line-height: 0;
 padding-top:10px;
}

.trip-text {
  color:rgb(49, 115, 18);
  font-weight: 700;
}

.itcontainer{
  /* padding:20px; */
  margin-left: 5vw;
}

.title-box
{
  background-color:var(--light-blue);
  border:10px;
  border-radius: 10px;
  border-color:black;
  
}

.content-box{
  background-color:rgb(238, 238, 238);
  padding:10px;
  margin: auto;
  size:50%;
  border-radius: 10px;
  border:solid;
  border-color: var(--light-blue)!important;
}

.header-box{
  font-weight: 900;
  color:rgb(22, 110, 243);
}

.title-text{
  font-weight: 900;
  color:rgb(22, 110, 243);
  margin:2px;
}

.ui button{
  color:rgb(22, 110, 243) !important;
  border-radius: 10px;
  border:solid;
}

.content-box-profile {
  background-color:var(--light-blue) !important;
  padding:10px;
  margin: auto;
  size:50%;
  border-radius: 10px;
  border:solid;
  border-color: var(--light-blue)!important;
}

.summary-item {
  width: 22vw;
  margin-left: 6vw;
  margin-top: 5vh;
  height: fit-content;
}

.map-item {
  width: 50vw;
  margin-left: 12vh;
  margin-top: 5vh;
}

.summary-container{
  margin-bottom: 10vh;
  margin-left: -5vw;
  width: 30vw;
}

.test1 {
  width: 100vw;
  margin-left: -5vw;
}

.profile-outter-container {
  width: 100vw;
  display: flex;
}

.trips-header {
  text-align: center;
  margin: 1.5em;
}

.profile-info {
  text-align: center;
  color: black;
}

.outtermost {
  margin-bottom: 8vh;
}

@media screen and (max-width: 775px) {
  .profile-card-container {
    width: 80vw;
  }

  .profile-card-body {
    text-align: center;
  }

  .profile-outter-container {
    display: block;
    margin-left: -3vw;
  }

  .test2 {
    width: 90vw;
  }

  .summary-outter {
    display: block;
  }

  .summary-container {
    width: 100vw;
    margin-left: 0vw;
  }

  .summary-item {
    width: 40vw;
  }

  .itcontainer {
    margin-left: 1vw;
  }
  .summary-item {
    width: 40vw;
  }
}


@media screen and (max-width: 550px) {
  .profile-outter-container {
    margin-left: -8vw;
  }
}
