:root{
  /* Color Palette 3 */
  --dark-green: rgb(49, 115, 18);
  --light-green: rgb(110, 187, 45);
  --cream: rgb(222, 217, 201);
  --dark-cream: rgb(226, 204, 170);
  --light-blue: rgb(36, 186, 236);
  --dark-blue: rgb(22, 110, 243);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

body {
  font-family: 'Montserrat', sans-serif;
}

.btn-container {
  margin-top: 1em;
}

.previous-btn {
  margin-left: var(--spacing-five);
  border: none;
  padding: 10px;
  background-color: var(--cream);
  border: 2px solid var(--light-blue);
  border-radius: 20px;
  transition: .5s;
}

.next-btn {
  margin-right: var(--spacing-five);
  border: none;
  padding: 10px;
  background-color: var(--cream);
  border: 2px solid var(--light-blue);
  border-radius: 20px;
  transition: .5s;
  bottom: 0;
}

.next-btn:hover,
.previous-btn:hover {
  background-color: var(--dark-cream);
  border: 2px solid var(--dark-blue);
}

.next-btn:focus,
.previous-btn:focus {
  outline: none;
}

.mapWrapper {
  width: 100vw;
  height: 100vh;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

/* SignUp Styling */
.signup-container,
.login-container {
  width: 40vw;
  margin-top: var(--spacing-five);
  border-radius: 15px;
  margin-top: 10vh !important;
  background-image: linear-gradient(180deg, rgba(22, 110, 243, .8)15%, rgba(6, 186, 236, .7)65%, rgba(49, 115, 18, .6)95%)
}

.login-link,
.signup-link {
  margin-top: var(--spacing-five) !important;
}

.login-link a,
.signup-link a {
  color: var(--dark-cream);
  transition: .6s;
}

.login-link a:hover,
.signup-link a:hover {
  text-decoration: none;
  color: var(--light-green);
}

.signup-header,
.login-header {
  margin-left: 18vw;
}

.signup-form,
.login-form {
  margin-top: 7vh;
  margin-left: 15vw;
}

.form-div label {
  display: block;
}

.form-div input {
  margin-bottom: var(--spacing-five);
}

.signup-btn,
.login-btn {
  margin-bottom: var(--spacing-five);
  margin-left: 2vw;
}

@media screen and (max-width: 1285px) {
  .login-form,
  .signup-form {
    margin-left: 12vw;
  }

  .signup-header,
  .login-header {
    margin-top: 7vh;
    margin-left: 15vw;
  }
}

.profile-card-box {
  color:rgb(22, 110, 243)!important;
}

@media screen and (max-width: 775px) {
  .signup-container,
  .login-container {
    width: 80vw;
  }

  .login-form,
  .signup-form {
    margin-left: 25vw;
  }

  .signup-header,
  .login-header {
    margin-top: 7vh;
    margin-left: 32vw;
  }

  .signup-btn,
  .login-btn {
  margin-bottom: 10vw;
  margin-left: 6vw;
}
}

@media screen and (max-width: 525px) {

  .login-form,
  .signup-form {
    margin-top: 0vh;
    margin-left: 10vw;
    margin-bottom: 10vh;
  }

  .signup-header,
  .login-header {
    margin-top: 7vh;
    margin-left: 25vw;
  }

  .signup-btn,
  .login-btn {
  margin-bottom: 10vw;
  margin-left: 13vw;
}
}

