:root{
  /* Color Palette 3 */
  --dark-green: rgb(49, 115, 18);
  --light-green: rgb(110, 187, 45);
  --cream: rgb(222, 217, 201);
  --dark-cream: rgb(226, 204, 170);
  --light-blue: rgb(36, 186, 236);
  --dark-blue: rgb(22, 110, 243);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

body {
  font-family: 'Montserrat', sans-serif;
}

.btn-container {
  margin-top: 1em;
}

.previous-btn {
  margin-left: var(--spacing-five);
  border: none;
  padding: 10px;
  background-color: var(--cream);
  border: 2px solid var(--light-blue);
  border-radius: 20px;
  transition: .5s;
}

.next-btn {
  margin-right: var(--spacing-five);
  border: none;
  padding: 10px;
  background-color: var(--cream);
  border: 2px solid var(--light-blue);
  border-radius: 20px;
  transition: .5s;
  bottom: 0;
}

.next-btn:hover,
.previous-btn:hover {
  background-color: var(--dark-cream);
  border: 2px solid var(--dark-blue);
}

.mapWrapper {
  width: 100vw;
  height: 100vh;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}


/* SignUp Styling */
.signup-container,
.login-container {
  width: 40vw;
  margin-top: var(--spacing-five);
  border: 3px var(--light-green) solid;
  border-radius: 15px;
  transform: translate(0%, 20%);
  background-image: linear-gradient(200deg, rgba(22, 110, 243, .8)15%, rgba(226, 204, 170, 1)45%, rgba(49, 115, 18, .6)95%);
}

.login-link,
.signup-link {
  margin-top: var(--spacing-two);
}

.login-link a,
.signup-link a {
  color: var(--dark-cream);
  transition: .6s;
}

.login-link a:hover,
.signup-link a:hover {
  text-decoration: none;
  color: var(--dark-blue);
}

.signup-header,
.login-header {
transform: translate(40%, 0%);
}

.signup-form,
.login-form {
  transform: translate(25%, 0%);
}

.form-div label {
  display: block;
}

.form-div input {
  margin-bottom: var(--spacing-five);
}

.signup-btn,
.login-btn {
  transform: translate(50%, 0%);
}

/* Login Styling */
