:root{
  /* Color Palette 3 */
  --dark-green: rgb(49, 115, 18);
  --light-green: rgb(110, 187, 45);
  --cream: rgb(222, 217, 201);
  --dark-cream: rgb(226, 204, 170);
  --light-blue: rgb(36, 186, 236);
  --dark-blue: rgb(22, 110, 243);
}

body {
  font-family: 'Montserrat', sans-serif;
}

.mapWrapper {
  width: 100vw;
  height: 100vh;
}
