:root{
  /* Color Palette 3 */
  --dark-green: rgb(49, 115, 18);
  --light-green: rgb(110, 187, 45);
  --cream: rgb(222, 217, 201);
  --dark-cream: rgb(226, 204, 170);
  --light-blue: rgb(36, 186, 236);
  --dark-blue: rgb(22, 110, 243);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

body {
  font-family: 'Montserrat', sans-serif;
}

.btn-container {
  margin-top: 1em;
}

.previous-btn {
  margin-left: var(--spacing-five);
  border: none;
  padding: 10px;
  background-color: var(--cream);
  border: 2px solid var(--light-blue);
  border-radius: 20px;
  transition: .5s;
}

.next-btn {
  margin-right: var(--spacing-five);
  border: none;
  padding: 10px;
  background-color: var(--cream);
  border: 2px solid var(--light-blue);
  border-radius: 20px;
  transition: .5s;
}

.next-btn:hover,
.previous-btn:hover {
  background-color: var(--dark-cream);
  border: 2px solid var(--dark-blue);
}

.mapWrapper {
  width: 100vw;
  height: 100vh;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.profile .container-fluid{
  padding: 0px !important;
  margin: 0px !important;  
}

.profile .row{
  padding: 0px !important;
  margin: 0px !important;  
}

.sidebar .list{
  padding: 5px 5px 0px 5px;
  list-style: none;
  margin: 0 0px;
  overflow: hidden; 
  width: auto;
 }

.sidebar .user-info .detail h4 {
  font-family: 'Abhaya Libre', serif;	
  font-size: 20px;
  color: #88898a;
  font-weight: 700;
  line-height: 0;
 }

 .sidebar .user-info .image img {
  width: 180px;
  vertical-align: bottom !important;
 }

 .sidebar .user-info .detail small {
  font-family: 'Abhaya Libre', serif;	
  font-size: 14px;
  color: #aaa;
  line-height: 0;
 }

 .sidebar .list a em {
  width: 16px;
  font-size: 16px;
  position: relative;
  top: 4px;
 }

 /* .profile-two .col-lg-6{
  padding-top: 20px;	
 }
 .profile-two .col-lg-3{
  padding-top: 20px;	
 }
 .profile-two .explorebox{
   height: 289px;	
 } */

 .card-body {
  margin-top: var(--spacing-five);
  width: 30vw;
  border: 3px var(--light-green) solid;
  border-radius: 15px;
  transform: translate(60%, -0%);
  background-image: linear-gradient(200deg, rgba(22, 110, 243, .8)15%, rgba(226, 204, 170, 1)45%, rgba(49, 115, 18, .6)95%)
 }