:root{
  /* Color Palette 3 */
  --dark-green: rgb(49, 115, 18);
  --light-green: rgb(110, 187, 45);
  --cream: rgb(222, 217, 201);
  --dark-cream: rgb(226, 204, 170);
  --light-blue: rgb(36, 186, 236);
  --dark-blue: rgb(22, 110, 243);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

.c-createpost-summary {
  padding: 10px 0;
  background-color: #fff !important;
}

.c-create-itinerary-form {
  margin-top: var(--spacing-five);
  margin-bottom: 10vh;
  width: 60vw;
  height: 60vh;
  border-radius: 15px;
  transform: translate(35%, -0%);
  background-image: linear-gradient(180deg, rgba(22, 110, 243, .8)15%, rgba(6, 186, 236, .7)65%, rgba(49, 115, 18, .6)95%)
}

.page-header {
  margin-left: 43vw;
}

.itinerary-submit {
  margin-left: 14vw !important;
}

.btn {
  margin-top: 30px;
  width: 6em;
  transition: .8s;
}

.btn:hover {
  background-color: var(--light-blue);
}

.itinerary-form {
  padding: 40px;
  margin-left: 10vw;
}

.itinerary-form button {
  margin-left: 9vw;
}

.itinerary-form input {
  margin-top: 5vh;
  width: 30vw;
}

.itinerary-text {
  width: 20vw;
  background-color: #F2F2F2;
  border:none;
  border-radius:3px;
  margin-top: 3px;
}

@media screen and (max-width: 1285px) {
  .page-header {
    margin-left: 38vw;
  }

  .itinerary-form button {
    margin-left: 10vw;
  }
}

@media screen and (max-width: 775px) {
  .page-header {
    margin-left: 30vw;
    width: fit-content;
  }

  .itinerary-form {
    margin-left: 4vw;
  }

  .itinerary-form button {
    margin-left: 2vw;
  }
}

@media screen and (max-width: 525px) {
  .c-create-itinerary-form {
    width: 90vw;
    height: 50vh;
    margin-left: 5vw;
    transform: translate(0%, 0%);
  }

  .page-header {
    margin-left: -3vw;
  }

  .itinerary-form input {
    margin-top: 2vh;
    margin-left: -10vw;
    width: 70vw;
  }

  .itinerary-submit {
    margin-left: 20vw !important;
    transform: translate(0%, 0%);
  }

  .page-header {
    margin-top: 30px;
    transform: translate(20%, 20%);
    font-size: 2.2em;
  }

  .itinerary-form {
    transform: translate(-5%, 0%);
  }

}