:root{
  /* Color Palette 3 */
  --Lotus-Green: #317312;
  --Green-Scallion: #6EBB2D;
  --Wafer-Brown: #DED6C9;
  --Blue-Isle: #24BAEC;
  --Capri-Blue: #166EF3;
}

.c-createpost-summary {
  padding: 10px 0;
  background-color: #fff !important;
}

textarea {
width:100%;
background-color: #F2F2F2;
border:none;
border-radius:3px;
margin-top:3px;
}