:root{
   /* Color Palette 3 */
   --dark-green: rgb(49, 115, 18);
   --light-green: rgb(110, 187, 45);
   --cream: rgb(222, 217, 201);
   --dark-cream: rgb(226, 204, 170);
   --light-blue: rgb(36, 186, 236);
   --dark-blue: rgb(22, 110, 243);
   --spacing-one: calc(1rem * 0.5);
   --spacing-two: calc(1rem);
   --spacing-five: calc(2.5rem);
 }
 
 #create-activity {
    width: 100%;
    height: auto;
 }

 .create-activity-form {
   margin-top: var(--spacing-five);
   width: 30vw;
   border: 3px var(--light-green) solid;
   border-radius: 15px;
   transform: translate(60%, -0%);
   background-image: linear-gradient(200deg, rgba(22, 110, 243, .8)15%, rgba(226, 204, 170, 1)45%, rgba(49, 115, 18, .6)95%)
 }

 .activity-form {
   transform: translate(20%, -0%);
   padding: 40px;
 }

 .activity-text {
   width: 15em;
   height: 5em;
   background-color: #F2F2F2;
   border:none;
   border-radius:3px;
   margin-top:3px;
}

.activity-input-container {
   margin-top: var(--spacing-two);
}

.activity-submit {
   margin-top: var(--spacing-five);
   /* padding: 10px; */
   border: solid var(--dark-cream) 3px;
   border-radius: 15px;
   transform: translate(50%, 0%);
   /* background-color: var(--light-blue); */
}


