:root{
    /* Color Palette 3 */
    --dark-green: rgb(49, 115, 18);
    --light-green: rgb(110, 187, 45);
    --cream: rgb(222, 217, 201);
    --dark-cream: rgb(226, 204, 170);
    --light-blue: rgb(36, 186, 236);
    --dark-blue: rgb(22, 110, 243);
 }

/* Footer Styling */
footer {
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    margin-top: 20px;
    width: 100%;
    background-image: linear-gradient(145deg, rgba(49, 115,18, 1)45%, rgba(110, 187, 45, 1)65%);
}
    
footer ul {
    width: 100%;    
}

.footer-item {
    margin-left: 13%;
    display: inline-block;
}

.footer-link {
    color:var(--dark-cream);
    text-decoration: none;
    font-size: 2em;
}

.footer-link:hover {
    color: var(--tertiary-color);
    transition: .5s;
    text-decoration: none;
}


